@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    display: flex;
    gap: 0.75rem;
    margin-top: 0.25rem;
    font-weight: 600;
    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}

.custom-button:hover {
    color: white;
    margin-top: 0;
    margin-bottom: 0.25rem;
}

.active {
    color: white;
}

input {
    color: black;
    outline: none;
    padding-left: 4px;
}

select {
    color: black;
    outline: none;
    padding-left: 2px;
}
